* {box-sizing:border-box;}
body,html{margin:0;padding:0;}
body {
    background: #f6f3ea;
}

img {
  display: block;
  width: 100%;
  /* box-shadow: 0 0 56px rgba(0, 0, 0, 0.1); */
}
figure {margin: 0;}
nav {
  position: fixed;
  z-index: 10;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
main {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
section {
  min-height: 100vh;
}

.intro {
  background: #fff;
}
.intro figure {
  width: 50%;
}
.intro figure:nth-child(1){transform: translateZ(-1px) scale(2);}
.intro figure:nth-child(2){transform: translateZ(-2px) scale(3);}
.intro figure:nth-child(3){transform: translateZ(-3px) scale(4);}
.intro figure:nth-child(4){transform: translateZ(-4px) scale(5);}
.intro figure:nth-child(5){transform: translateZ(-5px) scale(6);}

.object-wrapper {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: none;
  justify-content: center;

  transform: translateZ(-1px) scale(2);
}
