@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

::selection {
	background-color: #f9ca24;
}

body,
h1,
h2,
p,
a,
figcaption{
	color: #000;
  font-family: 'Fira Sans', sans-serif;
	font-size: 1.2em;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
}

a {
  line-height: 1;
  margin-top: .3rem;
  border-bottom: .1rem dashed #f0932b;
  text-decoration: none;
}
a:hover {
  background: #f9ca24;
  border-bottom: .1rem dashed #f9ca24;
}

img,
video,
figure,
iframe {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: .3rem;
  border: 0;
}
iframe {
  width: 100%;
  height: 56.25%;
}

figcaption {
  text-align: left;
  margin-top: 1rem;
  font-size: .7em;
  color: grey;

  margin-bottom: -2rem;
}

figcaption a {
	font: inherit;
	color: inherit;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4rem;
  padding: 1.5rem;
  font-family: 'Fira Sans', sans-serif;
}

header {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 6rem 0;
}
header *:first-child {
  grid-column: 1/-1;
  text-decoration: none;
}
header *:nth-child(2) {
  margin-bottom: 2rem;
}
header *:last-child {
  grid-column: 1/-1;
}

header a {
  justify-self: start;
}

section {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4rem;
}

.footer {
  text-align: center;
}

figure {
	transition: transform 1s ease-in-out;
}
figure:hover {
	transform: scale(1.01);
}

@media screen and (min-width: 60rem) {
	@supports (display: grid) {
    body {
      max-width: 60rem;
      grid-gap: 10rem;
      padding: 4rem;
			margin: 0 auto;
    }
    header {
      grid-template-columns: 1fr 1fr;
      padding: 0;
    }
    header *:first-child {
      grid-column: 1/-1;
    }
		header *:nth-child(2) {
		  margin-bottom: 0;
		}
    header *:last-child {
      grid-column: 2/-1;
    }
    section {
      grid-template-columns: 1fr 1fr;
      grid-gap: 4rem;
    }
    section *:not(:only-child):last-child {
      grid-column: 2/-1;
    }
}
