@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

html {
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.4;
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  /* scroll-snap-type: y mandatory; */
  scroll-padding-top: 1.4em;
}

body {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1.4em;

  max-width: 80rem;
  margin: auto;
}

a {
  color: blue;
  /* text-decoration-line: underline; */
  /* text-decoration-skip-ink: none; */
  /* text-decoration-style: wavy; */
  /* text-decoration-color: #e69b00; */
}

a:hover {
  /* color: #e69b00; */
}

h3 {
  font-size: inherit;
  display: inline;
  font-weight: 900;
}

img, video {
  scroll-snap-align: start;

  height: 100%;
  max-height: 30em;
  align-self: center;
}

@media only screen and (max-width: 600px) {
  img, video {
    height: 100%;
    max-height: auto;
    width: 100%;
    max-width: 30em;
  }
}

figure {
  scroll-snap-align: start;

  margin: 0;
  margin-bottom: 1.4em;
  display: flex;
  flex-wrap: wrap;
  gap: .7em 1.4em;
}

figcaption {
  width: 100%;
}

span[itemprop="name"] {
  font-style: italic;
}

section#portfolio {
  display: flex;
  flex-direction: column;
}

section#about, footer {
  scroll-snap-align: start;
}

#links {
  display: flex;
  gap: .7em;
}